<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
    <h1>Mon premier formulaire</h1>
    <p>la liste des étudiants</p>
</div>

<div class="container">
    <div class="row">
        {% if students is not empty %}
            <table>
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Numéro étudiant</th>
                    <th>Delete</th>
                    <th>Update</th>
                </tr>
                </thead>
                <tbody>
                {% for student in students %}
                    <tr>
                        <td>{{ student.nom }}</td>
                        <td>{{ student.prenom }}</td>
                        <td>{{ student.numEtud | slice(0, 20) }}...</td>
                        <td><a href="delete-student/{{ student.numEtud }}">Delete</a></td>
                        <td><a href="update-student/{{ student.numEtud }}">Update</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No student found.</p>
        {% endif %}
    </div>
</div>

</body>
</html>